.title-section {
  margin: auto;
  text-align: center;
  padding: 30px;
  padding-bottom: 5px;
}
.title-section h2 {
  font-size: 64px;
  padding: 20px 0px;
}
.title-section p {
  color: var(--text-main-color);
  padding-bottom: 45px;
}
.title-section .label-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-section .label-div label {
  display: flex;
  text-align: start;
  border: 1px solid var(--hover-nav);
  padding: 10px;
  width: 85%;
  border-radius: 20px;
}
.title-section label input {
  width: 78%;
  padding: 5px;
  border: none;
  outline: none;
}
.title-section label button {
  width: 140px;
  height: 40px;
  padding: 3px;
  margin-left: 8px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.article-blag .content-article {
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.artice-items {
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 110%;
}
.other-recipe {
  width: 100%;
}
.artice-items .img-article img {
  border-radius: 20px;
  width: 260px;
  transition: 0.3s;
}
.artice-items .img-article img:hover{
  width: 270px;
}
.artice-items h2 {
  font-size: 24px;
}
.artice-items p {
  font-size: 16px;
  color: var(--text-main-color);
  padding: 20px 0px;
}
.artice-items .info-clint {
  display: flex;
}
.artice-items .info-clint .clint {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.artice-items .info-clint img {
  margin-right: 10px;

}
.info-article {
  padding-top: 15px;
  padding-right: 25px;
}
.ather-video {
  margin: 0px 10px;
}

.artice-items .info-clint .date-article {
  padding-left: 40px;
  color: var(--text-main-color);
}
.img-Announcement {
  display: flex;
  justify-content: center;
}
.img-Announcement img {
  width: 95%;
}

@media (max-width: 992px) {
  .article-blag .content-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .artice-items {
    width: 100%;
  }
  .other-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    width: 100%;
  }
  .img-Announcement img {
    display: none;
  }
   .info-to-video{
    width: 300px;
  }
}
@media (max-width: 650px) {
  .artice-items {
    display: block;
    text-align: center;
    padding: 10px;
    width:100%;
  }
  .info-article {
    padding-top: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .article-blag .content-article {
    padding: 0px;
  }
  .artice-items .info{
    width: 100%;
  }
  .artice-items .info-clint {
    width: 100%;
  }
  .content-article{
    width: 92%;
  }
}
.not-found-search{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 20px; 
  padding-bottom:30px ;
}
.showorhide{
  text-align: center;
  animation: blink 2.5s infinite;
  padding-bottom:25px ;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}