.register h2 {
  font-size: 64px;
  padding: 30px 0px;
  margin: auto;
  text-align: center;
}
.register .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.register .background-chef {
  background-color: var(--main-color);
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 30px;
  margin: 20px;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  transition: mask-image 1s ease, -webkit-mask-image 1s ease;
}
.register form {
  padding: 20px;
  width: 100%;
}
.register form label {
  padding: 7px;
  width: 100%;
}
.register form label p {
  color: var(--text-main-color);
  padding: 5px;
}
.register form label select {
  width: 100%;
}
.register form label textarea {
  height: 200px;
  width: 100%;
}
.register form label input,
.register form label textarea,
.register form label select {
  padding: 10px;
  border-radius: 7px;
  outline: none;
  border: 1px solid var(--text-main-color);
  width: 100%;
}
.register button {
  background-color: var(--black);
  color: var(--white);
  width: 180px;
  height: 64px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border: none;
}

@media (max-width: 768px) {
  .register h2 {
    font-size: 48px;
  }
  .register .info-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .register form label input,
  .register form label textarea,
  .register form label select {
    width: 100%;
  }
  .register .background-chef {
    width: 65%;
    margin: 3px;
    padding: 10px;
    max-height: 550px;
  }
  .register .background-chef img {
    width: 100%;
  }
  .register button {
    background-color: var(--black);
    color: var(--white);
    width: 130px;
    height: 40px;
    border-radius: 15px;
  }
}
