* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --main-color: #e7fafe;
  --icons-color: #e4e6f1;
  --white: white;
  --black: black;
  --border-color: #ccc;
  --hover-nav: #e4e4e4;
  --bg-icon: #e4e6f1;
  --text-main-color: #5c6466;
  --Categories-color: #f2f4ee;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--white);
  padding: 40px 25px;
  border-bottom: 1px solid var(--border-color);
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
li {
  font-size: 16px;
  color: #333;
}
.img-nav {
  width: 150px;
  height: 27px;
}
.dropDowenicon {
  font-size: 20px;
}
.menu-button {
  background-color: var(--white);
  border: none;
  margin-right: 11px;
}
@media (max-width: 768px) {
  .menu-button {
    display: block;
    cursor: pointer;
  }
  ul li {
    padding: 5px;
  }
  ul li:hover {
    background-color: var(--hover-nav);
    border-radius: 5px;
  }
  .dropdown-content,
  .icons {
    display: none;
  }
}
@media (min-width: 756px) {
  .menu-button {
    display: none;
  }
}
.dropdown-content.show {
  display: block;
  position: absolute;
  right: 5px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  gap: 10px;
  padding: 10px;
}
.hero .hero-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
}
.hero .content {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
  padding: 30px;
  box-shadow: 10px 0 15px -5px var(--main-color);
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}
.hero .hero-content .icon-Hero {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--white);
  border-radius: 20px;
  width: fit-content;
  padding: 7px 15px;
}
.hero .hero-content .two-icons .icon-Hero {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--bg-icon);
  border-radius: 20px;
  width: fit-content;
  padding: 7px 15px;
}
.hero .hero-content .two-icons .icon-Hero span {
  color: var(--text-main-color);
}
.hero .hero-content h2 {
  font-size: 65px;
  padding-top: 32px;
}
.hero .hero-content p {
  font-size: 16px;
  padding: 24px 0px;
  color: var(--text-main-color);
}
.hero .hero-content {
  padding: 50px;
}
.hero-content .two-icons {
  display: flex;
  gap: 15px;
}
.clinet {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero .hero-content .clinet h4 {
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
}
.hero .hero-content .clinet p {
  font-size: 16px;
  padding: 5px;

  padding-left: 10px;
  color: var(--text-main-color);
}
.hero .hero-content .clinet .view-recipes {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  height: 60px;
  font-size: 14px;
  margin: 20px;
}

.hero .hero-content .hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to left, black 75%, transparent 100%);
  mask-image: linear-gradient(to left, black 75%, transparent 100%);
}
.badge {
  position: absolute;
  top: 180px;
  right: 42%;
}
@media (max-width: 1100px) {
  .hero .hero-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero .content {
    border-radius: 30px 30px 0px 0px;
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    transition: mask-image 1s ease, -webkit-mask-image 1s ease;
  }
  .hero .hero-content .hero-image img {
    border-radius: 0px 0px 30px 30px;
    -webkit-mask-image: linear-gradient(to top, black 80%, transparent 90%);
    mask-image: linear-gradient(to top, black 80%, transparent 100%);
    transition: mask-image 1s ease, -webkit-mask-image 1s ease;
  }
  .clinet {
    padding-top: 50px;
  }
  .badge {
    display: none;
  }
}
@media (max-width: 523px) {
  .hero .hero-content .clinet,
  .hero .hero-content .clinet .chefjohn {
    padding-bottom: 40px;
  }
  .hero .hero-content {
    padding: 10px;
  }
  .hero .hero-content h2 {
    font-size: 45px;
  }
}
.categorys-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.head-categorys {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}
.head-categorys h2 {
  font-size: 48px;
}
.head-categorys .view-all-categories {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 20px;
}
.categorys {
  background-color: var(--Categories-color);
  text-align: center;
  padding: 20px;

  border-radius: 20px;
}
.categorys img {
  height: 100px;
  width: 100px;
  padding-bottom: 15px;
  transition: 0.08s;
}
.categorys img:hover {
  height: 120px;
  width: 120px;
}
.recipes .head-recipes {
  padding: 80px;
  text-align: center;
}
.recipes .head-recipes h2 {
  padding: 10px;
  font-size: 48px;
}
.recipes .head-recipes p {
  font-size: 16px;
  color: var(--text-main-color);
}
@media (max-width: 523px) {
  .recipes .head-recipes h2 {
    font-size: 36px;
  }
  .recipes .head-recipes p {
    font-size: 14px;
  }
}
.content-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.link-video {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.link-video .content {
  background-color: var(--main-color);
  margin: 7px;
  border-radius: 30px;
}
.link-video img {
  width: 368px;
  display: block;
  margin: auto;
  border-radius: 30px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.link-video img:hover {
  width: 385px;
}
.link-video h3 {
  font-size: 24px;
  width: 352px;
  padding-top: 15px;
  margin: auto;
}
.link-video .type-time {
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
  padding: 20px 15px;
}
.link-video .type-time span {
  padding: 0px 5px;
}
@media (max-width: 1250px) {
  .link-video {
    display: grid;
    grid-template-columns: repeat(2, 445px);
  }
  .link-video img {
    width: 410px;
  }
  .link-video img:hover {
    width: 430px;
  }
  .link-video h3 {
    font-size: 24px;
    width: 410px;
  }
}
@media (max-width: 900px) {
  .link-video {
    display: grid;
    grid-template-columns: repeat(2, 350px);
  }
  .link-video img {
    width: 310px;
  }
  .link-video img:hover {
    width: 335px;
  }
  .link-video h3 {
    font-size: 22px;
    width: 310px;
  }
}
@media (max-width: 720px) {
  .link-video {
    display: grid;
    grid-template-columns: repeat(1, 550px);
  }
  .link-video img {
    width: 510px;
  }
  .link-video img:hover {
    width: 530px;
  }
  .link-video h3 {
    font-size: 24px;
    width: 510px;
  }
}
@media (max-width: 570px) {
  .link-video {
    display: grid;
    grid-template-columns: repeat(1, 400px);
  }
  .link-video img {
    width: 370px;
  }
  .link-video img:hover {
    width: 390px;
  }
  .link-video h3 {
    font-size: 24px;
    width: 370px;
  }
  .link-video .content {
    margin: 5px;
  }
}
@media (max-width: 400px) {
  .link-video {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    padding: 3;
  }
  .link-video img {
    width: 270px;
  }
  .link-video img:hover {
    width: 290px;
  }
  .link-video h3 {
    font-size: 20px;
    width: 270px;
  }
}
.privatechef {
  display: flex;
  justify-content: center;
  align-items: center;
}
.privatechef .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 20px;
}
.privatechef .content h2 {
  font-size: 48px;
}
.privatechef .content p {
  font-size: 16px;
  padding: 30px 0px 60px 0px;
  color: var(--text-main-color);
}
.privatechef .content a {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  border-radius: 20px;
}
.privatechef .content .img {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  transition: mask-image 1s ease, -webkit-mask-image 1s ease;
  background-color: var(--main-color);
  border-radius: 30px 30px 0px 0px;
  margin: 20px;
}
.privatechef .content img {
  width: 100%;
}
.posts-instagram {
  padding-bottom: 60px;
  background-color: var(--main-color);
}
.posts-instagram .content {
  text-align: center;
  padding: 60px 20px;
}
.posts-instagram .content h2 {
  font-size: 48px;
  padding: 30px 0px;
}
.posts-instagram .content p {
  color: var(--text-main-color);
}
.posts-instagram .posts {
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.posts-instagram a {
  width: 229px;
  height: 60px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: fit-content;
  color: var(--white);
  background-color: var(--black);
}
.posts-instagram a span {
  padding-right: 7px;
  display: block;
}
.icon-instagram {
  font-size: 20px;
}
.subscribe {
  width: 100%;
  padding: 60px 0px;
}
.subscribe .content {
  background-color: var(--main-color);
  width: 80%;
  border-radius: 30px;
}
.subscribe .content .info h2 {
  font-size: 48px;
  padding-top: 30px;
}
.subscribe .content .info p {
  color: var(--text-main-color);
  padding: 20px;
}
.subscribe .content .info h2,
.subscribe .content .info p {
  margin: auto;
  text-align: center;
}
.subscribe .content .Registering {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.subscribe .content .Registering img {
  width: 200px;
  height: 200px;
  margin-bottom: -3px;
  border-radius: 30px;
}
.subscribe .content .Registering .input-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: var(--white);
  padding: 17px;
  width: 120%;
  border-radius: 20px;
}
.subscribe .content .Registering .input-email input {
  padding: 10px;
  outline: none;
  border: none;
  width: 150%;
}
.subscribe .content .Registering .input-email button {
  background-color: var(--black);
  padding: 15px;
  color: var(--white);
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 810px) {
  .subscribe .content .Registering img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 700px) {
  .subscribe .content .Registering img {
    width: 110px;
    height: 110px;
  }
  .subscribe .content .Registering .input-email {
    width: 100%;
  }
  .subscribe .content .info h2 {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .subscribe .content .Registering img {
    display: none;
  }
  .subscribe .content .Registering .input-email {
    margin: 50px 0px;
  }
}
@media (max-width: 450px) {
  .subscribe .content {
    padding: 10px;
  }
  .subscribe .content .Registering .input-email button {
    padding: 10px;
  }
}
footer nav p {
  padding-top: 10px;
  color: var(--text-main-color);
}
footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  padding: 40px 10px;
}
footer nav ul {
  flex-wrap: wrap;
  padding: 20px;
}
