* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 40px 25px;
  border: 1px solid #ccc;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
li {
  font-size: 16px;
  color: #333;
}
.img-nav {
  width: 150px;
  height: 27px;
}
.dropDowenicon {
  font-size: 20px;
}
.menu-button {
  background-color: white;
  border: none;
  margin-right: 11px;
}
@media (max-width: 768px) {
  .menu-button {
    display: block;
    cursor: pointer;
  }
  ul li {
    padding: 5px;
  }
  ul li:hover {
    background-color: #e4e4e4;
    border-radius: 5px;
  }
  .dropdown-content,
  .icons {
    display: none;
  }
}
@media (min-width: 756px) {
  .menu-button {
    display: none;
  }
}
.dropdown-content.show {
  display: block;
  position: absolute;
  right: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  gap: 10px;
  padding: 10px;
}
