* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.title-video {
  margin-top: 60px;
  font-size: 35px;
  padding: 0px 30px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 5px;
}

.icons-shere-and-print,
.head-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.print,
.shire {
  text-align: center;
}
.print .icons,
.shire .icons {
  font-size: 18px;
  margin-bottom: 5px;
  padding: 18px;
  background-color: var(--main-color);
  border-radius: 30px;
}
.prepTime,
.cookTime {
  display: flex;
  align-items: center;
  gap: 10px;
}
.me {
  display: flex;
  align-items: center;
  gap: 10px;
}
.me img {
  width: 70px;
  border-radius: 50%;
}
.video-and-info {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: center;
}
.video {
  width: 100%;
  border-radius: 10px;
}
.information {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: var(--border-color) 1px solid;
}
.nutrition-information {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 20px;
  margin: 0px 15px;
  height: 100%;
}

.footer-information {
  height: 100%;
}

.footer-information p {
  color: var(--text-main-color);
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: end;
  width: 100%;
  height: 60%;
}
@media (max-width: 1200px) {
  .footer-information {
    height: 90%;
  }
  .footer-information p {
    height: 55%;
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .video-and-info {
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 97%;
    height: 100%;
    justify-content: center;
  }
  .nutrition-grid {
    width: 100%;
  }
  .nutrition-information {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: 0;
  }
  .nutrition {
    width: 100%;
    height: 100%;
  }
  .footer-information {
    margin-top: 70px;
  }
  .footer-information p {
    margin-top: 20px;
    align-items: flex-end;
    justify-content: center;
  }
}
.info-lorem div p {
  width: 95%;
  color: var(--text-main-color);
  font-size: 16px;
  padding: 60px 30px;
  line-height: 40px;
}
.active-label {
  color: var(--text-main-color);
  background-color: var(--main-color);
}

.ingredients .content {
  display: flex;
  justify-content: center;
}
.ingredients .content h2 {
  font-size: 36px;
}
.ingredients .content h3 {
  font-size: 24px;
  padding: 15px 0px;
}
.ingredients .content label {
  display: block;
  padding: 20px;
  margin: 8px 0px;
  border-bottom: var(--border-color) 2px solid;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.ingredients .content label img {
  width: 96%;
  display: block;
  margin: auto;
}
.ingredients .content label span {
  padding: 15px;
  font-size: 18px;
}
.ingredients .content label p {
  padding: 15px;
}
.videoAther .info {
  display: flex;
  padding: 10px;
}
.videoAther .info img {
  width: 150px;
  padding-right: 7px;
  transition: 0.3s;
  border-radius: 20px;
}
.videoAther .info img:hover {
  width: 160px;
}
.videoAther .info h4{
  font-size: 20px;
}
.videoAther .info .info-to-video{
  width: 180px;
}
.ather-video{
  align-items: start;
  padding: 30px;
  padding-right: 0px;
}
@media (max-width: 992px) {
.ingredients .content{
  display: block;
}
.ingredients .ather-video .links-video{
  display: block;
}
.ingredients .other-recipe{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ingredients  .img-Announcement{
  display: flex;
  justify-content: center;
}
.videoAther .info h4{
  font-size: 16px;
}
.videoAther .info img {
  padding-right: 7px;
  transition: 0.3s;
  border-radius: 20px;
  width: 140px;
}
.videoAther .info img:hover {
  width: 150px;
}
.videoAther .info .info-to-video{
  width: 120px;
}
}
@media (max-width: 765px) {
  .videoAther .info img {
    padding-right: 7px;
    transition: 0.3s;
    border-radius: 20px;
    width: 180px;
  }
  .videoAther .info img:hover {
    width: 190px;
  }
  .videoAther .info .info-to-video{
    width: 140px;
  }
  .ingredients  .img-Announcement{
    display: none;
  }.ingredients .content{
    width: 97%;
  }
  .ingredients .videoAther{
    width: 95%;
  }

}